.navbar {
  display: flex;
  background-color: #19181a;
  color: #cebc81;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.navbar__list {
  display: flex;
}

.navbar__header {
  text-decoration: none;
  color: #cebc81;
}

.navbar__search {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 5px 20px;
  background-color: #cebc81;
  border-radius: 2px;
}

.navbar__search_input {
  padding: 0 5px;
  border: transparent;
  background-color: transparent;
  outline: none;
}

.navbar__list_item {
  position: relative;
  margin: 0 10px;
  padding: 5px 20px;
  text-decoration: none;
  color: #cebc81;
  border-radius: 2px;
}

.navbar__list_item_badge {
  position: absolute;
  top: 0px;
  border-radius: 100%;
  padding: 2px;
  color: #cebc81;
  font-size: 14px;
}

.navbar__list_item:hover {
  background-color: #cebc81;
  color: black;
  transition: all 0.3s;
}